In [29]:
import pandas as pd
transaction=pd.read_csv('transaction.csv',sep=',',encoding="latin8")

In [32]:
transaction
transaction.columns

Index(['Code_article', 'Collection', 'LibellÃ©_article', 'GROUP ligne doc',
       'MARKET ligne doc', 'DEPARTEMENT ligne doc', 'DÃ©signation ligne',
       'Client', 'Etablissement de creation carte', 'Ville', 'Sexe',
       'Jour de naissance', 'Mois de naissance', 'AnnÃ©e de naissance',
       'Etablissement passage', 'NumÃ©ro_ticket', 'DateAchat', 'QuantitÃ©',
       'prix_unit', 'Total_TTC', 'Etablissement Passage', 'Zone commerciale'],
      dtype='object')

In [33]:
client = transaction.loc[:, ['Client', 'Etablissement de creation carte','Ville','Sexe','Jour de naissance','Mois de naissance','AnnÃ©e de naissance','Etablissement passage']]

In [42]:
client

,Client,Etablissement de creation carte,Ville,Sexe,Jour de naissance,Mois de naissance,AnnÃ©e de naissance,Etablissement passage
0,M7300729,(M73)TUNISCITY,HAMMAMET,Homme,18,4,1986,(M70) KIABISOUKRA
1,M7300729,(M73)TUNISCITY,HAMMAMET,Homme,18,4,1986,(M70) KIABISOUKRA
2,M7300729,(M73)TUNISCITY,HAMMAMET,Homme,18,4,1986,(M70) KIABISOUKRA
3,M7300729,(M73)TUNISCITY,HAMMAMET,Homme,18,4,1986,(M70) KIABISOUKRA
4,M7300729,(M73)TUNISCITY,HAMMAMET,Homme,18,4,1986,(M70) KIABISOUKRA
...,...,...,...,...,...,...,...,...
154661,74019819,(M74)AZURCITY,BEN AROUSÂ,Homme,7,1,2000,(M74)AZURCITY
154662,74019819,(M74)AZURCITY,BEN AROUSÂ,Homme,7,1,2000,(M74)AZURCITY
154663,74019819,(M74)AZURCITY,BEN AROUSÂ,Homme,7,1,2000,(M74)AZURCITY
154664,74019819,(M74)AZURCITY,BEN AROUSÂ,Homme,7,1,2000,(M74)AZURCITY
154665,74019819,(M74)AZURCITY,BEN AROUSÂ,Homme,7,1,2000,(M74)AZURCITY

In [35]:
article = transaction.loc[:, ['Code_article', 'Collection','LibellÃ©_article', 'GROUP ligne doc','MARKET ligne doc','DEPARTEMENT ligne doc','DÃ©signation ligne']]

In [43]:
article

,Code_article,Collection,LibellÃ©_article,GROUP ligne doc,MARKET ligne doc,DEPARTEMENT ligne doc,DÃ©signation ligne
0,XN354,H20,T-SHIRT,GRKIDS,KIDSBOY,KIBTSHLS,T-SHIRT 8A - 8A GREY DINO - 38072
1,XO790,H20,SOUS PULL,GRBABY,BABIES,BTSHIRTLS,SOUS PULL 18M - 18M REAL BLACK - 15701
2,XL400,H20,T-SHIRT,GRBABY,BABIES,BTSHIRTLS,T-SHIRT 18M - 18M RED VIE - 54140
3,XL409,H20,T-SHIRT,GRBABY,BABIES,BTSHIRTLS,T-SHIRT 18M - 18M PINK ETOIL - 53707
4,XL409,H20,T-SHIRT,GRBABY,BABIES,BTSHIRTLS,T-SHIRT 18M - 18M ORANG ETOI - 53706
...,...,...,...,...,...,...,...
154661,XP868,H20,PULL,GRMEN,MSTANDARD,MSTJUMPER,PULL XL - XL MEDIUM_GRE - 39027
154662,XP868,H20,PULL,GRMEN,MSTANDARD,MSTJUMPER,PULL XL - XL CIEL_CAP - 39598
154663,XP868,H20,PULL,GRMEN,MSTANDARD,MSTJUMPER,PULL XL - XL BEIGE CH - 998
154664,XP615,H20,PANTALON DENIM,GRMEN,MSTANDARD,MSTTROUSER,PANTALON DENIM 46 - 46 BRUT USED - 2199
154665,XG462,H20,PANTALON,GRMEN,MSTANDARD,MSTTROUSER,PANTALON 46 - 46 SNOW_BLUE - 39314

In [40]:
Détail_transaction = transaction.loc[:, ['NumÃ©ro_ticket','DateAchat','QuantitÃ©','prix_unit','Total_TTC','Etablissement Passage','Zone commerciale']]
Détail_transaction

,NumÃ©ro_ticket,DateAchat,QuantitÃ©,prix_unit,Total_TTC,Etablissement Passage,Zone commerciale
0,70769212,2020-11-01,1,22.0,22.0,(M70) KIABISOUKRA,HAMMAMET
1,70769212,2020-11-01,1,12.0,12.0,(M70) KIABISOUKRA,HAMMAMET
2,70769212,2020-11-01,1,9.0,9.0,(M70) KIABISOUKRA,HAMMAMET
3,70769212,2020-11-01,1,22.0,22.0,(M70) KIABISOUKRA,HAMMAMET
4,70769212,2020-11-01,1,22.0,22.0,(M70) KIABISOUKRA,HAMMAMET
...,...,...,...,...,...,...,...
154661,74066723,2020-12-15,1,55.0,55.0,(M74)AZURCITY,BEN AROUSÂ
154662,74066723,2020-12-15,1,55.0,55.0,(M74)AZURCITY,BEN AROUSÂ
154663,74066723,2020-12-15,1,55.0,55.0,(M74)AZURCITY,BEN AROUSÂ
154664,74066723,2020-12-15,1,95.0,95.0,(M74)AZURCITY,BEN AROUSÂ
154665,74066723,2020-12-15,1,95.0,95.0,(M74)AZURCITY,BEN AROUSÂ

In [41]:
article.to_csv('Article.csv', index=False)
client.to_csv('Client.csv', index=False)
Détail_transaction.to_csv('Détail_Transaction.csv', index=False)